ul{
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}
ul li{
    float: left;
    list-style-type: none;
}

ul li a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 16px;
    display: inline-block;
}

h1{
    font-family: 'Roboto', sans-serif;

}

p{
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    text-align: center;
}

h3{
    font-size: 30px;
}

.name-color{
    color: rgb(119, 120, 153);
}

.name-highlight{
    color: peru;
}

.half-width{
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(160, 255, 122), rgb(71, 120, 255));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.color-highlight{
    color: rgba(240, 128, 128, 0.973);
}

.single-project{
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    height: 78%;
    width: 25%;
}

footer p{
    text-align: center;
    font-size: 10px;

}

footer h3{
    text-align: center;
}

.work-shape{
    background-image: url("shapes/Group_33094_1.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;


}
.working-part{
    background-color: whitesmoke;
    margin: 100px;
    padding: 50px;
    
}

.chat-with{
    float:right;
    margin-right: 20%;
    padding: 1%;
}
.communication-site{
    text-align: center;
    
}